@import "//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic";
#mfPreviewBar,
#mfPreviewBarShow {
  display: none;
}
/************ SCROLL BAR ************/
/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #E0E0E0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: #949494;
  z-index: 10000;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #009688;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #009688;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #009688;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #009688;
}
.parallax-container {
  height: 400px !important;
}
.parallax-container .parallax {
  top: 100px !important;
}
@media only screen and (min-width: 993px) {
  .container {
    width: 80% !important;
  }
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url("../images/bryce.jpg") no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  overflow-x: hidden;
}
@media only screen and (min-width: 601px) {
  body nav,
  body nav .nav-wrapper i,
  body nav a.button-collapse,
  body nav a.button-collapse i {
    height: 85px !important;
    line-height: 85px !important;
  }
}
main {
  flex: 1 0 auto;
  background-color: white;
}
main .container {
  background-color: white;
}
h1,
h2,
h3,
h4 {
  font-family: 'Architects Daughter', cursive;
}
nav {
  background-color: #ffffff !important;
  color: #ef6c00;
  box-shadow: none !important;
}
nav .brand {
  padding-left: 77px;
}
nav .brand a {
  font-family: 'Crayon Crumble';
  color: #009688 !important;
  font-size: 2.8rem !important;
}
nav .brand a .amp {
  color: #ef6c00 !important;
}
nav .brand img {
  width: 180px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav .right {
  padding-right: 60px;
}
nav a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem !important;
  font-family: 'Architects Daughter', cursive;
  padding-left: 25px !important;
  padding-right: 25px !important;
  color: #ef6c00 !important;
}
nav a:hover {
  color: #ef6c00 !important;
}
nav a i.fa {
  font-size: 1rem !important;
  display: inline-block;
  color: #009688;
}
nav #nav-search {
  display: none;
  width: 450px;
  height: 66px;
  padding-right: 60px;
  overflow: hidden;
}
nav .input-field input[type=search] + label i {
  color: #ef6c00;
  cursor: pointer;
  font-size: 2rem;
}
nav .input-field input[type=search]:hover + label i {
  font-size: 2.1rem;
}
nav .input-field input[type=search]:focus {
  color: #ef6c00;
}
nav .input-field input[type=search]:focus + label i,
nav .input-field input[type=search]:focus ~ .mdi-navigation-close {
  color: #ef6c00;
}
nav ul.dropdown-content {
  z-index: 100 !important;
}
nav ul.dropdown-content li > a {
  font-weight: normal !important;
  text-transform: none !important;
}
.nav-wrapper {
  background-color: rgba(0, 0, 0, 0) !important;
}
.button-collapse {
  position: absolute !important;
  right: 10px;
  padding-right: 10px !important;
}
.collapsible-header i {
  float: right !important;
}
.header-img-container img {
  width: 100%;
  height: auto;
}
a {
  color: #009688;
}
a:hover {
  color: #197c70;
}
.landing-header {
  height: 400px;
  z-index: 1 !important;
}
.landing-header h1 {
  z-index: 1 !important;
  padding-top: 200px;
  margin-bottom: 100px;
  padding-bottom: 0;
  font-size: 8rem;
  line-height: 7.12rem;
  text-shadow: 3px 3px 6px #363636;
}
.section {
  box-shadow: 0 0 30px black;
}
#sidebar h1,
#sidebar h2,
#sidebar h3,
#sidebar h4 {
  color: #ef6c00;
}
#sidebar img {
  width: 100%;
}
#sidebar p {
  color: #009688;
}
#sidebar .social-icon a {
  color: #009688;
  font-size: 2rem;
}
#sidebar .social-icon a:hover {
  color: #197c70;
}
#sidebar .input-field input[type=search] {
  border: none !important;
}
#sidebar .input-field input[type=search] + label i {
  color: #ef6c00;
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  top: 50px;
}
#sidebar .input-field input[type=search]:focus {
  color: #ef6c00;
}
#sidebar .input-field input[type=search]:focus + label i,
#sidebar .input-field input[type=search]:focus ~ .mdi-navigation-close {
  color: #ef6c00;
}
#back-to-top-container {
  color: #009688;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
}
#back-to-top-container:hover {
  color: #197c70;
}
#back-to-top-container h1 {
  padding: 0;
  margin: 0;
}
#back-to-top-container h1 i {
  text-shadow: 2px 2px 6px #808080;
}
footer {
  height: 200px;
}
.post-title {
  color: #ef6c00;
}
.post-cover-img {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.post-cover-img img {
  width: 100%;
  height: auto;
}
.cc-post-content p,
.cc-post-content div.post-more {
  color: #5e5e5e;
}
.cc-post-content .cc-post-excerpt p {
  margin-bottom: 0;
}
.cc-post-content .cc-post-more {
  display: none;
}
.cc-post-content .cc-post-more div.post-more {
  margin-top: 15px;
}
.cc-post-content .cc-post-more .cc-post-footer {
  margin-top: 40px;
}
.cc-post-content .cc-post-more .cc-post-footer strong {
  font-size: 1.35rem;
  font-weight: bold;
  color: #ef6c00;
}
.cc-post-content .cc-post-more .cc-post-footer .cc-post-meta {
  color: #757575;
  font-size: 0.9rem;
}
.cc-post-content .cc-post-more .cc-post-footer .recd-posts {
  color: #009688;
  margin-top: 20px;
}
.cc-post-content .cc-post-more .cc-post-footer .recd-posts div {
  text-align: center;
}
.cc-post-content .cc-post-more .cc-post-footer .recd-posts img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
